$body-bg: #fff;
$body-color: lighten(rgb(44, 46, 49), 34%);
$blue: rgb(0, 126, 255);
$green: rgb(137, 186, 22);
$yellow: rgb(255, 245, 104);
$primary: $green;
$font-family-sans-serif: 'Nunito', sans-serif;